 <!-- src/app/carte-visite/carte-visite.component.html-->
 <form (ngSubmit)="onSubmit()">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom">
    <!-- Ajoutez d'autres champs pour les données de la carte visite-->
    <button type="submit">Enregistrer</button>
    </form>
  
     <!-- src/app/carte-visite/carte-visite.component.html-->
   <div>
    <h2>Carte Visite</h2>
    <p>Nom: {{ carteVisite.nom }}</p>
    <!-- Affichez les autres données de la carte visite-->
    </div>